@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    //font-family: 'Raleway';
//    font-family: 'Silkscreen', cursive;
}

.ls-none {
    list-style: none;
}

.vh-90 {
    height: 90vh;
}

.grey-color {
    color: $grey1;
}

.main-color {
    color: $medium-sea;
}

.section-title {
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 70%;
    text-align: center;
    margin-bottom: 3rem;
    border-bottom: 1px solid $main;
    display: flex;
    justify-content: center;
}
