$primary-bg: #011526;
$primary: #038c65;
$primary-dark: #02735E;
$secondary: #025959;
$secondary-dark: #012E40;


//yellow theme
$yellow: #ffd100;
$yellow-light: #ffee32;
$black-dark: #202020;
$black-light: #1e1f1e;
$greywhite: #d6d6d6;

//NEWTHEME
$grey1: #868686;